<div class='row-fluid' style='border-bottom:1px dotted #FFF;margin-bottom:5px;padding:10px 0px'>
<div class='span2 news_image_container'>
	<% if !brief_news.image_url.nil? %>
		<img src=<%= brief_news.image_url%> style='height:100px;width:125px;' ></img>
	<% else %>
		<img src='/assets/images_not_found.jpg' style='height:100px;width:125px;' ></img>	
	<% end %>	
</div>
<div class='span8 news_content_container' style='text-align:justify'>
	<h4><%= brief_news.title %></h4>
	<%= raw(truncate(brief_news.description, :length => 250)) %>  <%= link_to 'read more..',brief_news %>
</div>
</div>
