<div class='span12' style='border-bottom:1px dotted #FFF;margin-bottom:5px;padding:10px 0px'>
<h3><%= @bollywoodnews.title %></h3>
<div class='span2'><img src=<%= @bollywoodnews.image_url%> ></img></div>
<div class='span9' style='text-align:justify'><%= raw(@bollywoodnews.description) %></div>
</div>
