	<div class='span3'>
		<%#= render :partial => 'bollywood_news/news', :collection => @bollywood_news %>
	</div>
	<div class='span9 news'>
		<div class='span12 news_item'>
			<%= render :partial => 'bollywood_news/brief_news', :collection => @bollywood_news %>
		</div>
		<hr />
	</div> 
