<div class='span12' style='border-bottom:1px dotted #FFF;margin-bottom:5px;padding:10px 0px'>
<h3><%= @bollywood_preview.title %></h3>
<div class='span3'><img src=<%= @bollywood_preview.image_url%> ></img></div>
<div class='span8' style='text-align:justify'><%= raw(@bollywood_preview.description) %></div>
</div>
