<ul class="thumbnails">
  <li class="span2">
	<div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
	</div>
          <div class="caption">
            Thumbnail label
	  </div>
  </li>
   <li class="span2">
	<div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
	</div>
          <div class="caption">
            Thumbnail label
	  </div>
  </li>
  <li class="span2">
	<div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
	</div>
          <div class="caption">
            Thumbnail label
	  </div>
  </li>
  <li class="span2">
	<div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
	</div>
          <div class="caption">
            Thumbnail label
	  </div>
  </li>
  <li class="span2">
	<div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
	</div>
          <div class="caption">
            Thumbnail label
	  </div>
  </li>
  <li class="span2">
	<div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
	</div>
          <div class="caption">
            Thumbnail label
	  </div>
  </li>
</ul>
