
<h1 class="title"><img src="http://www.marketplacecinemas.com/wp-content/themes/marketplace/images/now_showing.png"></h1>

<div class='now_showing row-fluid'>
  <%= render :partial => "now_showing"%>
</div>
<div class='schedule'>
  <%= render :partial=>'schedule' %>
</div>
