<div class='span2'>
	<%#= render :partial => 'bollywood_news/news', :collection => @bollywood_news %>
</div>
<div class='span9 news'>
	<div class='row-fluid news_item'>
		<ul>
		<% @bollywood_trailers.each do |bollywood_trailer| %>					
				<li class='span3' style='margin:10px 5px;float:left'><img src=<%= bollywood_trailer.thumb_url%> class='trailer_thumb_images'></img>
				<%= bollywood_trailer.title %>
				</li>
				
		<% end %>			
		</ul>
	</div>
	<hr />

</div> 

