<div class='span2'>
	<%#= render :partial => 'bollywood_news/news', :collection => @bollywood_news %>
</div>
<div class='span9 news'>
	<div class='row-fluid news_item'>
	<ul class="thumbnails">
		<% @bollywood_trailers.each do |bollywood_trailer| %>
			<li class="span2" style='margin:10px; 5px'>
				<div class="">
						<%= link_to image_tag(bollywood_trailer.thumb_url, :style=>'width:100%;height:auto;' ), bollywood_trailer %>	
				</div>	
				<div class="caption" >
					<p><%= bollywood_trailer.title %></p>
             	</div>
 			 </li>
		<% end %>			
	</ul>
	</div>
	<hr />

</div> 

