<script src="/assets/flowplayer-3.2.11.js"></script>

<div class='span12' style='border-bottom:1px dotted #FFF;margin-bottom:5px;padding:10px 0px'>
    <h3><%= @bollywood_trailer.title %></h3>
	<div class='span6' style='text-align:justify'>
		<a href= <%= @bollywood_trailer.video_url %> style="display:block;height:300px;margin-bottom:10px;" id="player"> </a> 
	</div>	
	<div class='span6' style='text-align:justify'><%= raw(@bollywood_trailer.description) %></div>
</div>

<script>
	flowplayer("player", "/flowplayer-3.2.15.swf");
</script>


