// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.now_showing {background-image: url(box-bg.png);padding:5px 10px;}
.caption{text-align:center;color:#FFF}
.schedule_upper_div {background-color:#1c1c1c;margin:10px 0px;padding:10px;}
.schedule_lower_div {margin-left:0px !important;
background-image: linear-gradient(bottom, #063008 0%, #FA0808 68%);
background-image: -o-linear-gradient(bottom, #063008 0%, #FA0808 68%);
background-image: -moz-linear-gradient(bottom, #063008 0%, #FA0808 68%);
background-image: -webkit-linear-gradient(bottom, #063008 0%, #FA0808 68%);
background-image: -ms-linear-gradient(bottom, #063008 0%, #FA0808 68%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #063008),
	color-stop(0.68, #FA0808)
);
}
.add_to_mail_list{height:100%;width:100%}
